<section style="height:300px ; width:400px; border: 1px black solid">
    <h1>Curreny Converter</h1>
    <h2>Type in amount and select Curreny:</h2>
    <input type="number" name="amt1" min="0">
    <select name="input1" id="input1">
        <option value="CAD">CAD</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select> 
    <h2>Converted amount:</h2>
    <input type="number" name="amt2" min="0"> 
    <select name="input2">
        <option value="CAD">CAD</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select>

    <div style="text-align:right">
        <a href="">Disclaimer</a>
    </div> 
    <h2>{{price.base}}</h2>
    <h2>{{price.rates.USD}}</h2>
</section>   
<script>
    document.onload = function calc(){
        var option = document.getElementById("input1").value;
        console.log(option);
    }

    
</script>