<section>
    <h2>Currency Converter</h2>
    <h4>Type in amount and select Curreny:</h4>
    <input type="number" name="amt1" min="0" [(ngModel)]="val" (ngModelChange)='amtChange()'>
    
    
    <select [(ngModel)]='optionSelected1' (ngModelChange)='amtChange()'>
        <option value="CAD">CAD</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select>

    <h4>Converted amount:</h4>
    <input type="number" name="amt2" min="0" [(ngModel)]="conval"> 
    <select [(ngModel)]='optionSelected2' (ngModelChange)='amtChange()'>
        <option value="CAD" >CAD</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select>
    <br/>
    <br/>
    <div style="margin-left: 190px">
        <a href="" onclick="alert('Information about currency converter');">Disclaimer</a>
    </div>
   
</section>   
